:root {
  --container-redir-bg: whitesmoke;
  --content-redir-bg: white;
  --bt-icon-color: black;
}

.dark-theme {
  transition: all 0.3s;
  --container-redir-bg: rgb(35, 36, 53);
  --content-redir-bg: #292a40;
  --bt-icon-color: white;
}

.container-redir {
  width: 100%;
  background-color: var(--container-redir-bg);
}

.card-redir {
  padding: 10px;
}

.head-redir {
  text-align: center;
  background-color: #33b5e5;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.content-redir {
  background-color: var(--content-redir-bg);
  padding-top: 10px;
  padding-bottom: 40px;
  color: black;
  border-radius: 4px;
  margin-bottom: 21px;
}

.h3-body-redir {
  margin-left: 120px;
  margin-right: 20px;
  margin-top: 15px;
  background-color: var(--container-redir-bg);
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  border-radius: 6px;
  color: var(--bt-icon-color);
}

.h3-redir {
  font-weight: 500;
  font-size: medium;
  display: flex;
}

.p-details {
  font-weight: 300;
  font-size: medium;
  margin-left: 10px;
}

.butn-redir1 {
  border: none;
  padding: 6px;
  border-radius: 4px;
  background-color: #00c851;
  font-weight: 600;
  color: white;
  margin-right: 15px;
  width: 100%;
}

.butn-redir2 {
  border: none;
  padding: 6px;
  border-radius: 4px;
  background-color: #ff4444;
  font-weight: 600;
  color: white;
  margin-left: 15px;
  width: 100%;
}

.button-center-redir {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.butn-a-redir:hover {
  background-color: var(--container-redir-bg);
}

.butn-redir1:hover {
  font-weight: 600;
  background-color: #007e33;
}

.butn-redir2:hover {
  font-weight: 600;
  background-color: #cc0000;
}

.bt {
  display: flex;
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 35px;
  color: var(--bt-icon-color);
}

.h3-body1-redir {
  display: inline-block;
  width: 30%;
  line-height: 2;
}

@media screen and (max-width: 850px) {
  .h3-body1-redir {
    width: 100%;
    margin: 5px;
  }

  .bt {
    float: none;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .h3-body-redir {
    margin-left: 30px;
    margin-right: 30px;
  }

  .content-redir {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .button-center-redir {
    margin-bottom: 10px;
  }
}
