:root {
  --form-bg: white;
  --text-form: black;
  --white-text: white;
  --atag-color: #031b85;
  --formfield-bg: #ffffff;
  --form-focus-color: #f5f5f5;
  --button-dark: #262626;
  --menubar-bg: #eeeeee;
  --a-hover: #fafafa;
  --menulist-hover: #fafafa;
  --button-dark-hover: #000000;
}

.dark-theme {
  transition: all 0.3s;
  --form-bg: rgb(21, 32, 43);
  --text-form: white;
  --white-text: rgb(21, 32, 43);
  --atag-color: #ffffff;
  --formfield-bg: #181c28;
  --form-focus-color: #263238;
  --button-dark: #1266f1;
  --menubar-bg: #181c28;
  --a-hover: #1266f1;
  --menulist-hover: #1266f1;
  --button-dark-hover: #0091ea;
}

.alert {
  --bs-alert-bg: transparent;
  --bs-alert-padding-x: 1rem;
  --bs-alert-padding-y: 1rem;
  --bs-alert-margin-bottom: 1rem;
  --bs-alert-color: inherit;
  --bs-alert-border-color: transparent;
  --bs-alert-border: 1px solid var(--bs-alert-border-color);
  --bs-alert-border-radius: 0.375rem;
  position: relative;
  padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
  margin-bottom: var(--bs-alert-margin-bottom);
  color: var(--bs-alert-color);
  background-color: var(--bs-alert-bg);
  border: var(--bs-alert-border);
  border-radius: var(--bs-alert-border-radius, 0);
}

.alert-danger {
  --bs-alert-color: #842029;
  --bs-alert-bg: #f8d7da;
  --bs-alert-border-color: #f5c2c7;
}

.alert-success {
  --bs-alert-color: #0f5132;
  --bs-alert-bg: #d1e7dd;
  --bs-alert-border-color: #badbcc;
}

.alert {
  position: relative;
  height: 35px;
  display: block;
  top: 15px;
  margin-bottom: 15px;
  padding: 0.2rem 1rem;
  width: auto;
  align-items: center;
}

.form-label,
.form-check-label,
.Title-profile {
  color: var(--text-form);
}

.Title-profile {
  margin-top: 25px;
  margin-left: 30px;
}

body {
  background-color: var(--form-bg);
}

a:hover {
  background: var(--nav-element-hover);
  transition: 0.5s;
  color: #ffffff;
  text-decoration: none;
}

.form-group {
  margin-top: 30px;
}

.form-control:focus {
  color: var(--text-form);
  background-color: var(--form-focus-color);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.form-control {
  background-color: var(--formfield-bg);
  color: var(--text-form);
}

.containform {
  max-width: 850px;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: var(--form-focus-color);
  opacity: 1;
}

.btn-dark {
  background-color: var(--button-dark);
  width: 30%;
}

.btn-dark:hover {
  background-color: var(--button-dark-hover);
}

@media (max-width: 640px) {
  .btn-dark {
    background-color: var(--button-dark);
    width: 40%;
  }
}
