:root {
  --form-bg: white;
  --text-form: black;
  --formfield-bg: #eeeeee;
  --form-focus-color: #f5f5f5;
  --text-card-title: #424242;
  --text-card-text: #616161;
  --border-display: 1px solid #ccc;
}

.dark-theme {
  transition: all 0.3s;
  --form-bg: #181c28;
  --text-form: white;
  --formfield-bg: #292a40;
  --form-focus-color: rgb(35, 36, 53);
  --text-card-title: #eeeeee;
  --text-card-text: #bdbdbd;
  --border-display: none;
}

body {
  background-color: var(--form-bg);
}

.card {
  border: var(--border-display);
}

.card-header {
  background-color: var(--formfield-bg);
  color: var(--text-form);
}

.card-body {
  background-color: var(--form-focus-color);
}

.card-title {
  color: var(--text-card-title);
}

.card-text {
  color: var(--text-card-text);
}
