:root {
  --dropdown-bg: #f9f9f9;
  --dropdown-text: black;
}

.dark-theme {
  transition: all 0.3s;
  --dropdown-bg: rgb(21, 32, 43);
  --dropdown-text: white;
}

/* validation modal bootstrap */
.alert {
  position: relative;
  padding: 15px 5px;
  border: 1px solid transparent;
  text-align: center;
}

.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.alert-warning {
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}

.alert-dismissible {
  padding-right: 3rem;
}

.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.fade {
  transition: opacity 0.15s linear;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem 1rem;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

button,
select {
  text-transform: none;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border-radius: 0;
}

.bi-x-lg {
  color: black;
  font-size: 18px;
}

/* table */

.table td,
.table th {
  color: var(--dropdown-text);
  padding: 12px 15px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 16px;
  background-color: var(--dropdown-bg);
}

.fullscreen_toggle {
  border: none;
  padding: 6px;
  border-radius: 4px;
  background-color: #1264e3;
  font-weight: 600;
  color: white;
  margin-right: 0px;
  width: 60%;
}

.delete_toggle {
  border: none;
  padding: 6px;
  border-radius: 4px;
  background-color: #ff4444;
  font-weight: 600;
  color: white;
  margin-right: 0px;
  width: 20%;
}

.edit_toggle {
  border: none;
  padding: 6px;
  border-radius: 4px;
  background-color: #00c851;
  font-weight: 600;
  color: white;
  margin-right: 0px;
  width: 20%;
}

.fullscreen_toggle:hover {
  background-color: #0d47a1;
}

.delete_toggle:hover {
  background-color: #cc0000;
}

.edit_toggle:hover {
  background-color: #007e33;
}
