:root {
  --cardInfoContainer-bg: whitesmoke;
  --cardInfo-bg: white;
  --infoCardBody-color: black;
}

.dark-theme {
  transition: all 0.3s;
  --cardInfoContainer-bg: rgb(35, 36, 53);
  --cardInfo-bg: #292a40;
  --infoCardBody-color: white;
}

.cardInfoContainer {
  background-color: var(--cardInfoContainer-bg);
  max-width: 100%;
}

.heading-card,
.subhead-card {
  color: var(--infoCardBody-color);
}

.blood-text {
  color: red;
  margin-left: 7px;
}

.card-title {
  color: red;
}
.cardInfo {
  border: none;
  background-color: var(--cardInfo-bg);
}
.infoCardBody {
  color: var(--infoCardBody-color);
}

@media (max-width: 768px) {
.card3,.card5,.card7,.card9{
    display: none;
}
}