
    :root {
        --container-redir-bg: whitesmoke;
        --content-redir-bg: white;
        --content-redir-text:black;
    }

    .dark-theme {
        transition: all 0.3s;
        --container-redir-bg: rgb(35, 36, 53);
        --content-redir-bg: #292a40;
        --content-redir-text:white;
    }

    .container-redir {
        width: 100%;
        background-color: var(--container-redir-bg);
        padding-bottom: 20px;

    }

    .card-redir {
        padding: 10px;
    }

    .head-redir {
        text-align: center;
        background-color: #ff4444;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
        border-radius: 4px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .content-redir {
        text-align: center;
        background-color: var(--content-redir-bg);
        padding-top: 10px;
        padding-bottom: 10px;
        color: var(--content-redir-text);
        border-radius: 4px;
        margin-bottom: 41px;
    }

    .butn-redir1 {
        border: none;
        padding: 12px;
        border-radius: 25px;
        background-color: #1264e3;
        font-weight: 600;
        color: white;
        margin-right: 15px;
    }

    .butn-redir2 {
        border: none;
        padding: 12px;
        border-radius: 25px;
        background-color: #ff4444;
        font-weight: 600;
        color: white;
        margin-left: 15px;
    }

    .button-center-redir {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .butn-a-redir:hover {
        background-color: var(--container-redir-bg);
    }

    .butn-redir1:hover {
        font-weight: 600;
        background-color: #044cb8;
    }

    .butn-redir2:hover {
        font-weight: 600;
        background-color: #CC0000;
    }
